/* Error: Expected whitespace.
 *    ,
 * 29 |     @media screen and(min-width: $large_screen)  {
 *    |                      ^
 *    '
 *   sass/elements/_elements.scss 29:19  @import
 *   sass/style.scss 62:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a    \2577 \a 29 \2502      @media screen and(min-width: $large_screen)  {\a    \2502                       ^\a    \2575 \a   sass/elements/_elements.scss 29:19  @import\a   sass/style.scss 62:9                root stylesheet";
}
