@use "../mixins/mixins-master";
@use "../variables-site/media";

.card {
    @media screen and (min-width: media.$large_screen)  {
        max-width: 360px;
    }
    @media screen and  (min-width: media.$extra_large_screen)  {
        max-width: 450px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 200px; 
        margin:unset;   
        border-radius: 5px;
        @include mixins-master.box-shadow;
        @media screen and (min-width: media.$small_screen)  {
            // height: 500px;  
        }
        @media screen and (min-width: media.$large_screen)  {
            transition: opacity 0.2s ease-out;
            height: 280px;  
        }
    } 
    img:hover {
        opacity: 0.7;
    }
}

.svg-icon {
        margin-right: 4px;
        transform: translateY(3px);
        display: inline-block;
}