@use "../variables-site/media";

.center, 
.site-container {
    margin: 0 auto;
    padding: 1rem 1rem ;
    max-width: 560px; 
    background: unset;
}
.container {
    padding: 0 1rem;
     @media screen and (min-width: media.$large_screen) {
         padding: unset; 
         margin: 0 auto;
     }    
 }
 .site-main {
    background: rgb(255,255,255);
    // background: linear-gradient(187deg, rgba(255,255,255,1) 24%, rgba(237,236,242,1) 92%);
 }

.index-container
 {
    margin-top: 60px;
    margin-bottom: 3rem;
    @media screen and (min-width: media.$small_screen) {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 200;
        grid-template-rows: auto;
        grid-template-areas: 
        "main main"
        "article1 article2" 
        "article3 article4" 
        "article5 article6";
       
        justify-content: center;
    } 
    @media screen and (min-width: media.$large_screen) {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 320px 320px 320px;
        grid-template-rows: auto;;
        grid-template-areas: 
        "main main main"
        "article1 article2 article3"
        "article4 article5 article6";
        justify-content: center;
        grid-gap: 1rem;   
    } 
    @media screen and (min-width: media.$middle_large_screen) {
        grid-template-columns: 360px 360px 360px;
    }
    @media screen and (min-width: media.$extra_large_screen) { 
        grid-template-columns: 450px 450px 450px;
        grid-gap: 3rem;
    }  
}