@use "../variables-site/colors";
@use "../variables-site/media";
@use "../variables-site/typography";

body, .site, .site-main
    {
        background-color: colors.$bg_color;
    }   
.excerpt:first-of-type     

 {
    @media screen and (min-width: media.$small_screen) {
        grid-area: main;
        display: flex; 
        max-width: unset;
        max-width: unset;
        min-width: unset;
        // margin: 4rem 0;  
    }
    .excerpt-text {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        @media screen and (min-width: media.$large_screen) {
            width:500px;
        }
        @media screen and (min-width: media.$extra_large_screen) { 
            width:610px;
        }  
    } 
    .excerpt-title {
         @media screen and (min-width: media.$large_screen) { 
            line-height: 2.5rem;
            font-size: 2rem;
        }  
        @media screen and (min-width: media.$extra_large_screen) { 
            line-height: 3rem;
            font-size: 2.3rem;
        }  
    }
    .post-thumbnail { 
        @media screen and (min-width: media.$large_screen) {
            width:500px;
            height: 460px;
            margin-right: 2rem;
            transition: all 0.3s ease-in;
        } 
        @media screen and (min-width: media.$extra_large_screen) {
            width:650px;
            height:650px;
        }
        img {
            margin-top: unset;
            @media screen and (min-width: media.$large_screen) {
                width: 100%;
                height: 100%;
                margin:unset;
            } 
        }
    }
}
.excerpt {
    margin: 0 0.6rem;
    padding: 0.6rem;
    margin-bottom:1rem;
    border: 0.01rem solid  colors.$mid_orange;
    background-color: colors.$darker_orange;
    border-radius: 16px;
    corner-shape: squircle;
    @media screen and (min-width: media.$large_screen)  {
        margin: 0rem;
        padding: 1.2rem;
    }  
}
.excerpt:nth-of-type(2) {
    grid-area: article1;
}
.excerpt:nth-of-type(3) {
    grid-area: article2;
}
.excerpt:nth-of-type(4) {
    grid-area: article3;
}
.excerpt:nth-of-type(5) {
    grid-area: article4;
}
.excerpt:nth-of-type(6) {
    grid-area: article5;
}
.excerpt:nth-of-type(7) {
    grid-area: article6;
}
.excerpt-header {
    // border-left: 1px solid $light_orange;
    // padding-left: 1rem;
    // margin-top:  1rem;
    z-index: 10000;  
    // @media screen and (min-width: $large_screen) {
    //     margin-bottom: 1rem; 
    // }
    @media screen and (min-width: media.$extra_large_screen) {
        
    }
}
.excerpt-content,
.excerpt-summary {
    // padding-left: 1rem;
    // padding-right: 1rem;
    p {
        // margin-bottom: 1rem; 
        display: block;
         @media screen and (min-width: media.$small_screen) {  
            display: none;
        }
        @media screen and (min-width: media.$large_screen) {  
            display: block;
        }
    }
    @media screen and (min-width: media.$large_screen) {
        
    }
    figure {
        margin-left: 1rem;
    }
}       
.page-title {
    margin: unset;
    @media screen and (min-width: media.$large_screen) {
        line-height: 2rem;
        margin: unset;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
}
.excerpt-title,
.entry-title {
    margin: unset;
    margin-right: 1rem;
    font-size: 1rem;
    @media screen and (min-width: media.$large_screen) {
        line-height: 1.6rem;
        font-size: 1.2rem;
    }
    a { 
        font-weight: bold;
        // text-decoration: underline;
    }
}
.entry-content {
    font-family: typography.$font-headings;
    margin-bottom: 2rem;
}
.excerpt-meta,
.entry-meta {
    // color:$mid_color;
    // padding: 0.2rem 0;
    font-size: 0.8rem;
    @media screen and (min-width: media.$extra_large_screen) {
        padding: unset;
        font-size: 0.7rem;
    }     
}
.thumb-container{
    height: 320px;
    overflow: hidden;
    @media screen and (min-width: media.$large_screen) {
        height: 630px;
    }
    img {
        object-fit: cover;
        position:fixed;
        z-index: -10000;
        height: 350px;
        width:100vw;
        @media screen and (min-width: media.$large_screen) {
         margin: 0;  
         height: 660px;
         margin-top: 20px;
         margin-bottom:30px;
        }
    }                
}   
article {
    margin-top: 20px;
    @media screen and (min-width: media.$extra_large_screen) {
        margin-top: 30px;
    } 
}
.single-article {
    margin-top: unset;
}
.page-content {
    padding-left: 2rem;
}
.updated:not(.published) {
	display: none;
}
.page-header {
    min-width: 250px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 4em;
    font-size: 0.8rem;
    padding-left: 2rem;
    border-left: 1px solid #111;
    @media screen and (min-width: media.$large_screen) {
        margin-top: 6em;
        font-size: 1rem;
    }  
}
.site-info {
    font-size: 0.9rem;
}

.cat-title {
    font-size: 1rem;
}

.no-results-container {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-meta {
    @media screen and (min-width: media.$large_screen) {
        margin-bottom: 1rem;
        margin-top: 0.6rem;
    }
}
.full-width {
    min-height: 80vh;
    display: grid;
    place-content: center;
}

.ssba {
    margin-bottom: 0.8rem;
}
.m-1 {
    margin-top: 1rem;
}

.no-results-container {
    padding: 0;
}