@use "../mixins/mixins-master";
@use "../variables-site/colors";
@use "../variables-site/media";
@use "../variables-site/typography";

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
		border: none;
		@include mixins-master.background;
		color: colors.$light_color;
		cursor: pointer;
		font-size: 1rem;
		// border-radius: 30px;
		
		@media screen and (min-width: media.$large_screen)  {
			@include mixins-master.box-shadow-normal;
			transition: all 0.2s ease-in;	
		}	
	&:hover {
		@media screen and (min-width: media.$large_screen)  {
			@include mixins-master.box-shadow-hover;
		}
	}
}

.wpcf7-submit {
	 padding: 12px 30px;	
}

.read-more {
	background: unset;
	color: colors.$mid_orange;
	height: unset;
	width:unset;
	margin-bottom: 1rem;
	border: unset;
	box-shadow: unset;
	font-size: 16px;	
	transition: unset;
	padding:unset;
	font-family: typography.$font-headings;
	@media screen and (min-width: media.$middle_large_screen) {
		margin-top: 1rem;
	}
	@media screen and (min-width: media.$large_screen)  {
		// border-radius: 30px;
	}	
	// @media screen and (min-width: $extra_large_screen) {
	// 	font-size: 1.2rem;
	// }
}
.read-more:hover,
.read-more:active {
box-shadow: unset;
}
.card:first-of-type {
	.read-more {
		@media screen and (min-width: media.$large_screen) {
			display: block;
			@include mixins-master.background; 
			color: colors.$light_color;
			// border: 1px solid $dark_orange;
			cursor: pointer;
			margin-top:1rem;
			box-shadow: none;
			font-family: typography.$font-headings;
			transition: background 0.3s ease;
			margin-bottom: 1rem;
			padding: 12px 30px;
			border-radius: 50px;
		}
		@media screen and (min-width: media.$middle_large_screen) {
			margin-top: 1rem;
		}
		@media screen and (min-width: media.$large_screen)  {
			padding-left:30px;
		}	
	}
	.read-more:active {
		// transform: scale(0.99);
	}
	.read-more:hover {
		@media screen and (min-width: media.$large_screen) {
			@include mixins-master.background-hover; 
			box-shadow: unset;
		}
	}
}