$light_color: #e0d3d3;
$lightest_color: #FFFFFF;
$mid_color: #4c464d;
$dark_color: #150102;
$black_color: #181518;
$light_orange: #d20303; 
$mid_orange: #e61a1a;
$dark_orange: #3b0404;
$darker_orange: #2b0303;    

$bg_color: #150102; 

